/* Header */

.header--inner {
  background-image: none;
  min-height: 50px;
}

.nav--inner {
  margin-bottom: 11px;
}

.breadcrumbs__list {
  display: flex;
  margin-bottom: 4px;
  margin-top: 11px;
}

.breadcrumbs__item {
  margin-right: 10px;
  &::after {
    display: inline-block;
    content: '/';
    font-size: 18px;
    margin-left: 10px;
  }

  &:last-child {
   &::after {
     display: none;
   }
  }
}

.breadcrumbs__link {
  color: $black;
  font-size: 18px;
  text-decoration: none;
  span {
    text-transform: uppercase;
  }
}

.breadcrumbs__link--active {
  color: $grey;
}

/* Interier */

.section-title--interier {
  margin-bottom: 15px;
}

.interier {
  margin-top: -8px;
  margin-bottom: -10px;
}

.interier__slide-pic {
  width: 100%;
  height: 650px;
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.interier__slide-img {
  width: 100%;
  display: block;
}

.interier {
  .slick-dots {
    max-width: 64px;
    margin: 0 auto;
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    li {
      width: 12px;
      height: 12px;
      border: 1px solid $white;
      border-radius: 50%;
      display: inline-block;
      margin-right: 14px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      button {
        display: none;
      }
    }
    .slick-active {
      background-color: $white;
    }
  }

  .slick-slider {
    position: relative;
    margin: 0 auto;
  }

  .slick-list {
    //margin-bottom: 175px;
  }

  .slick-arrow {
    font-size: 0;
    height: 50px;
    width: 50px;
    background-color: transparent;
    outline: none;
    top: 50%;
    z-index: 10;
    transform-origin: center;
    border: none;
    margin-top: 30px;
  }

  .slick-disabled.slick-prev, .slick-disabled.slick-next {
    &::before, &::after {
      background-color: $grey;
    }
  }

  .slick-prev {
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    margin-left: 170px;
    width: 37px;
    height: 85px;
    &::before {
      display: block;
      content: '';
      background-color: $white;
      height: 55px;
      width: 2px;
      left: -1px;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: rotate(-40deg);
    }
    &::after {
      display: block;
      content: '';
      background-color: $white;
      height: 55px;
      width: 2px;
      left: 0;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: rotate(220deg);
    }
  }

  .slick-next {
    transform: translateY(-50%) rotate(180deg);
    position: absolute;
    right: 0;
    margin-right: 170px;
    width: 37px;
    height: 85px;
    //margin-left: 55px;
    &::before {
      display: block;
      content: '';
      background-color: $white;
      height: 55px;
      width: 2px;
      left: -1px;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: rotate(-40deg);
    }
    &::after {
      display: block;
      content: '';
      background-color: $white;
      height: 55px;
      width: 2px;
      left: 0;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: rotate(220deg);
    }
  }
}