.contacts {
  min-height: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url('../img/contacts-bg.png');
  background-repeat: no-repeat;
  background-position: 30px bottom;
  position: relative;
}

.section-title--contacts {
  margin-bottom: 35px;
}

.contacts-wrap {
  width: 88.15%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  font-size: 36px;
  color: $darkblue;
  margin-bottom: 40px;
  .fa {
    margin-right: 15px;
  }
}

.contacts__item-text {
  a {
    text-decoration: none;
    color: $darkblue;
  }
}

.contacts__map {
  background-image: url('../img/contacts-map.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 636px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 140px;
  min-height: 403px;
}