.header {
  min-height: 651px;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  background-color: rgba(#000, .9);
  min-height: 50px;
  margin-bottom: 135px;
}

.nav-wrap {
  display: flex;
  min-height: 50px;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16%;
  min-height: 50px;
  margin-right: 19.3%;
  &:hover {
    color: $blue;
    .logo__text {
      &::after {
        background-color: $blue;
      }
    }
  }
}

.logo__text {
  font-size: rem(36px);
  width: 54.44%;
  position: relative;
  &::after {
    display: block;
    content: '';
    background-color: $white;
    width: 2px;
    margin-left: 12px;
    left: 100%;
    top: 10px;
    bottom: 10px;
    position: absolute;
  }
}

.logo__text--small {
  font-size: rem(14px);
  line-height: rem(14px);
  width: 33.33%;
}

.nav__list {
  display: flex;
  width: 30.4%;
  justify-content: space-between;
  margin-right: 3.4%;
}

.nav__link {
  font-size: rem(20px);
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 0;
  &:hover {
    color: $blue;
  }
}

.nav__link--tel {
  font-size: rem(20px);
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 2.4%;
  &:hover {
    color: $blue;
  }
}

.btn {
  font-size: rem(20px);
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  padding: 0 10px;
  border: 1px solid $white;
  border-radius: 2px;
  transition: all .3s;
  &:hover {
    background-color: $grey;
    border: 1px solid transparent;
  }
}

.slide__img-wrap {
  width: 31.5%;
  margin: 0 auto;
}

.slide__img {
  width: 100%;
}
.header {
  .slick-dots {
    width: 5.87%;
    margin: 0 auto;
    li {
      width: 12px;
      height: 12px;
      border: 1px solid #e4e0e0;
      border-radius: 50%;
      display: inline-block;
      margin-right: 14px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      button {
        display: none;
      }
    }
    .slick-active {
      background-color: #e4e0e0;
    }
  }

  .slick-slider {
    position: relative;
    //width: 90%;
    margin: 0 auto;
  }

  .slick-list {
    margin-bottom: 175px;
  }

  .slick-arrow {
    font-size: 0;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 2px solid $white;
    outline: none;
    top: 50%;
    z-index: 10;
    margin-top: -50px;
  }

  .slick-disabled {
    border-color: $grey;
  }

  .slick-prev {
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    left: -2px;
    //top: 50%;
    //z-index: 10;
    border-top: none;
    border-right: none;
  }

  .slick-next {
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    right: 24px;
    //top: 50%;
    //z-index: 10;
    border-left: none;
    border-bottom: none;
  }
}
