.header {
  min-height: 651px;
}

.nav {
  background-color: rgba(#000, .9);
  min-height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
}

.nav-wrap {
  display: flex;
  min-height: 50px;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 178px;
  min-height: 50px;
  margin-right: 19.47%;
  &:hover {
    color: $blue;
    .logo__text {
      &::after {
        background-color: $blue;
      }
    }
  }
}

.logo__text {
  font-size: 36px;
  width: 54.44%;
  position: relative;
  &::after {
    display: block;
    content: '';
    background-color: $white;
    width: 2px;
    margin-left: 12px;
    left: 100%;
    top: 10px;
    bottom: 10px;
    position: absolute;
  }
}

.logo__text--small {
  font-size: 14px;
  line-height: 14px;
  width: 33.33%;
}

.nav__list {
  width: 30%;
  margin-right: 3.77%;
  display: flex;
  justify-content: space-between;
}


.nav__link {
  font-size: 20px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 0;
  transition: all .2s;
  &:hover {
    color: $blue;
  }
}

.nav__link--active {
  color: $grey;
  &:hover {
    color: $grey;
  }
}

.nav__link--tel {
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 2.4%;
  transition: all .2s;
  &:hover {
    color: $blue;
  }
}

.btn {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  padding: 0 10px;
  border: 1px solid $white;
  border-radius: 2px;
  transition: all .3s;
  &:hover {
    background-color: $grey;
    border: 1px solid transparent;
  }
}

.contacts-btn {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  &::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background-color: $white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  &::before {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background-color: $white;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.contacts-btn--active {
  .btn-dot {
    display: none;
  }
  &::after {
    width: 26px;
    transform: rotate(135deg) translateX(0);
    left: -1px;
    top: 10px;
  }
  &::before {
    width: 26px;
    transform: rotate(45deg) translateX(0);
    left: -1px;
    top: 10px;
  }
}

.btn-dot {
  width: 4px;
  height: 4px;
  background-color: $white;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header__slide-item {
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 651px;
  align-items: center;
}

.slide__img-wrap {
  max-width: rem(364px);
  margin: 0 auto;
  margin-top: 180px;
}

.slide__img {
  width: 100%;
}
.header {
  .slick-slider {
    position: relative;
  }

  .slick-dots {
    max-width: 64px;
    position: absolute;
    bottom: rem(27px);
    left: 50%;
    transform: translateX(-50%);
    li {
      width: 12px;
      height: 12px;
      border: 1px solid #e4e0e0;
      border-radius: 50%;
      display: inline-block;
      margin-right: 14px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      button {
        display: none;
      }
    }
    .slick-active {
      background-color: #e4e0e0;
    }
  }

  .slick-slider {
    position: relative;
    margin: 0 auto;
  }

  .slick-arrow {
    font-size: 0;
    height: 50px;
    width: 50px;
    background-color: transparent;
    outline: none;
    top: 50%;
    z-index: 10;
    transform-origin: center;
    border: none;

  }

  .slick-disabled.slick-prev, .slick-disabled.slick-next {
    &::before, &::after {
      background-color: $grey;
    }
  }

  .slick-prev {
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    margin-left: rem(80px);
    margin-top: rem(40px);
    width: 37px;
    height: 85px;
    &::before {
      display: block;
      content: '';
      background-color: $white;
      height: 55px;
      width: 2px;
      left: -1px;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: rotate(-40deg);
    }
    &::after {
      display: block;
      content: '';
      background-color: $white;
      height: 55px;
      width: 2px;
      left: 0;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: rotate(220deg);
    }
  }

  .slick-next {
    transform: translateY(-50%) rotate(180deg);
    position: absolute;
    right: 0;
    width: 37px;
    height: 85px;
    margin-right: rem(80px);
    margin-top: rem(40px);
    &::before {
      display: block;
      content: '';
      background-color: $white;
      height: 55px;
      width: 2px;
      left: -1px;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: rotate(-40deg);
    }
    &::after {
      display: block;
      content: '';
      background-color: $white;
      height: 55px;
      width: 2px;
      left: 0;
      position: absolute;
      top: 50%;
      transform-origin: left top;
      transform: rotate(220deg);
    }
  }
}
