.services {
  min-height: 645px;
  background-image: url('../img/services-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}

.section-title--services {
  margin-bottom: 35px;
}

.price-wrap {
  width: 82.89%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price__list {
  width: 38.09%;
  margin-bottom: 50px;
}

.price__item {
  font-size: rem(30px);
  border-bottom: 1px solid #335263;
  display: table;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 12px;
}

.price__item-name {
  display: table-cell;
}

.price__item-count {
  display: table-cell;
  text-align: right;
}

.services-btn {
  font-size: rem(30px);
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  border: 1px solid #335263;
  border-radius: 3px;
  padding: 3px 5px;
  display: inline-block;
  margin: 0 auto;
  transition: all 0.3s;
  &:hover {
    background-color: $grey;
    color: $white;
    border-color: transparent;
  }
}

