.services--inner {
  background-image: url('../img/services-page-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 770px;
}

.services__item {
  width: 22.98%;
}

.services__link {
  background-color: $white;
  padding: 10px;
  display: block;
}

.services__pic {
  width: 100%;
}

.services__img {
  width: 100%;
}