/* adjustment vars */
html {
  font-size: 16px;

  @include desktop {
    font-size: 16px;
  }

  @include laptop {
    font-size: 15px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include phone {
    font-size: 12px;
  }

  color: $black;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}



.section-title {
  font-size: rem(48px);
  text-transform: uppercase;
  color: $black;
  text-align: center;
  font-weight: normal;
  margin: 0 auto;
  letter-spacing: -0.7px;
}